.ck-button:hover {             /*ADD :hover */
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #e8efe5;      /*change border color*/
    overflow:auto;
    float:left;
    color:#000;                 /*add font color*/
}
.ck-button {             /*ADD :hover */
    margin:4px;
    background-color:#5cb85c;
    border-radius:4px;
    border:1px solid #4cae4c;      /*change border color*/
    overflow:auto;
    float:left;
    color:#fff;                 /*add font color*/
}
.titlecase
{
    text-transform:lowercase;
}